
/* Dasca, an idle game by @CylonicRaider (github.com/CylonicRaider/dasca)
 * Stylesheet */

* {
  margin: 0;
  padding: 0;
}

body, #game {
  background: black;
  color: white;
}

#game {
  font: 5vmin serif;
}

#game, #game .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer {
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.5, 0.0, 1.0, 1.0),
              visibility 250ms step-end;
}
.layer.selected {
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.5, 0.0, 1.0, 1.0),
              visibility 250ms step-start;
}

.layer.text-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-variant: small-caps;
  letter-spacing: 0.1em;
}
.subtitle {
  font-style: italic;
}

.text-popup > hr {
  border: none;
  height: 0.2em;
}

#mainscreen {
  display: flex;
  flex-direction: column;
}

#mainscreen .row {
  display: flex;
}
#mainscreen .row-all {
  flex-grow: 1;
}
#mainscreen .row-small {
  padding: 0.5em;
  height: 1em;
}

#mainscreen .col-quarter {
  width: 25%;
}
#mainscreen .col-all {
  flex-grow: 1;
}
