
/* Dasca, an idle game by @CylonicRaider (github.com/CylonicRaider/dasca)
 * Stylesheet */

* {
  margin: 0;
  padding: 0;
}

body, #game {
  background: black;
  color: white;
}

#game {
  font: 5vmin/1.2 serif;
}

#game, #game-content, .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.layer {
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms cubic-bezier(0.5, 0.0, 1.0, 1.0);
}
.layer.selected {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
  animation: fade-in 200ms cubic-bezier(0.5, 0.0, 1.0, 1.0);
}

.pane {
  position: relative;
}

.text-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25vw;
}
.shade {
  background: rgba(0, 0, 0, 0.75);
}

h1 {
  font-variant: small-caps;
  letter-spacing: 0.1em;
}
.subtitle {
  font-style: italic;
}

.text-popup > hr {
  border: none;
  height: 0.2em;
}

.btn, .area {
  border: 1px solid #808080;
  margin: 0.25em;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  background: none;
  outline: none;
  outline-offset: -3px;
}
.btn {
  padding: 3px;
  cursor: pointer;
  text-decoration: none;
}
.btn::-moz-focus-inner {
  margin: 0;
  border: 0;
  padding: 0;
}
.btn:hover {
  text-decoration: underline;
}
.btn:active, .btn:focus {
  outline: 1px dotted #808080;
}
.btn:active {
  outline-color: #c0c0c0;
}
.btn-wide {
  display: block;
  width: 100%;
}
.btn-small, .btn-link {
  margin: 0;
  border: 0;
  padding: 0;
  outline-offset: -1px;
}
.btn-link {
  color: #0080ff;
}
.btn-link:active {
  color: #ff0000;
}
.btn-link:visited {
  color: #c000c0;
}
.area {
  width: 100%;
  min-height: 4.5em;
  resize: vertical;
}
.area-nowrap {
  white-space: pre;
}
.area-small {
  font-size: 0.5em;
  line-height: 1;
}

.btnrow {
  display: flex;
  width: 100%;
}
.btnrow > .btn:first-child {
  margin-left: 0;
}
.btnrow > .btn:last-child {
  margin-right: 0;
}

#mainscreen, #game-content {
  display: flex;
  flex-direction: column;
}

#mainscreen .row {
  display: flex;
}
#mainscreen .row-all {
  flex-grow: 1;
}
#mainscreen .row-small {
  height: 1.2em;
  font-size: 0.75em;
}
#mainscreen .row-wrap {
  flex-wrap: wrap;
}
#mainscreen .col {
  display: flex;
  flex-direction: column;
}
#mainscreen .col-quarter {
  width: 25%;
}
#mainscreen .col-3of10 {
  width: 30%;
}
#mainscreen .col-all {
  flex-grow: 1;
}
#mainscreen .inset {
  padding: 0.5em;
}
#mainscreen .row-small.inset {
  padding: 0.6666666666666666em;
}
#mainscreen .row-btn > .btn + .btn {
  margin-left: 0.5em;
}
#mainscreen .row > hr {
  margin: 0 0.25em;
  border: 0;
  padding: 0;
  width: 1px;
  background: white;
}

#messagebar {
  /* HACK to prevent bar from letting the container expand */
  height: 0;
  min-height: 100%;
  overflow-y: auto;
  font-size: 0.75em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
#messagebar p {
  margin-top: 0.4em;
  text-align: justify;
  animation: fade-in 200ms cubic-bezier(0.5, 0.0, 1.0, 1.0);
}
#messagebar p:first-child {
  margin-top: 0;
}

#bottombar {
  transition: opacity 200ms cubic-bezier(0.5, 0.0, 1.0, 1.0);
}
#bottombar.hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.game-tab {
  overflow: auto;
}
.game-tab .items > .btn {
  margin: 0 0 0.25em;
}

.item-card {
  margin-bottom: 0.5em;
}
.item-card, .item-rows {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.item-card .item-icon {
  width: 2.4em;
  height: 2.4em;
  cursor: pointer;
  outline-offset: -1px;
  overflow: hidden;
}
.item-card .item-icon-inner {
  display: block;
  width: 2.4em;
  height: 2.4em;
}
.item-card .item-icon:active, .item-card .item-icon:focus {
  outline: 1px dotted #808080;
}
.item-card .item-icon:active {
  outline-color: #c0c0c0;
}

.item-card .item-name, .item-card .item-rows {
  flex-grow: 1;
}
.item-card hr {
  width: 0.5em;
  border: none;
}
.item-card .item-filler {
  width: 100%;
  flex-grow: 1;
}
.item-card .item-bar {
  width: 100%;
  height: 0.25em;
  background: #c00000;
}
.item-card .item-bar-content {
  width: 0%;
  height: 100%;
  background: #008000;
}
.item-card .item-bar-pm .item-bar-content {
  margin-left: 50%;
}
.item-card .btn {
  height: 1.2em;
}

.gauge {
  display: inline-block;
  width: 10em;
}

.fade-in {
  animation: fade-in 200ms cubic-bezier(0.5, 0.0, 1.0, 1.0);
}

.dim {
  opacity: 0.5;
}

.no-display {
  display: none;
}
